@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(p2\ homepage.webp);
}



ul {
    list-style: none;
    background-color: #8c52ff;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background-color: #8c52ff;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background-color: #6d30e9;
}

ul li:hover ul.dropdown {
    display: block;
}

#donateButton {
    max-width: 50%;
    margin-left: 25%;
    padding: 20px 25px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
    background-color: #4caf50;
    border:  solid #4caf50;
    border-radius: 8px;
    transition: background-color 0.3s, border-color 0.3s;
}

.h1home{
    display: flex;
    justify-content: center;
    margin: 5%;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white; 
} 

.p1home{
    display: flex;
    justify-content: center;
    margin: 10%;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white; 
}